<div class="app-wrapper">
  <mat-toolbar color="primary">
    <a href="/">Bubaxi</a>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button
    (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container" hasBackdrop="false">
    <mat-drawer class="drawer"
    #drawer mode="over" position="end">
      <button mat-flat-button (click)="router.navigate(['/interactive']); drawer.toggle()">Interactive</button>
      <button mat-flat-button (click)="router.navigate(['/game']); drawer.toggle()">Game</button>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
