$small: 700px;
$medium: 1200px;

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-toolbar {
    height: 50px;

    a {
      color: white;
      text-decoration: none;
    }

    .toolbar-spacer {
      flex: 1 1 auto;
    }
  }

  .drawer-container {
    flex: 1 1 auto;

    ::ng-deep mat-drawer-content {
      overflow: visible;

      @media only screen and (max-width: $small) {
        width: 100%;
      }
    }

    .drawer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;

      @media only screen and (min-width: $small) {
        width: 300px;
      }

      button {
        width: 100%;
      }
    }

    mat-drawer-content {
      overflow: auto;
    }
  }
}
