.drawer-container {
  height: 100%;

  mat-drawer {
    padding: 5px;
    width: 250px;

    .app-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .form-element {
        display: flex;
        flex-direction: column;

        &:first-of-type {
          margin-top: 10px;
        }

        mat-label {
          width: 100%;
          font-size: 12px;
        }
      }

      .divider {
        flex: auto;
      }

      button {
        margin-bottom: 5px;
      }

      .indicators {
        display: flex;
        width: 100%;
        color: lightgray;
      }
    }
  }

  ::ng-deep mat-drawer-content {

    .satisfaction-meter {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 20px;
      transition-duration: 500ms;
      transition-property: width;
    }

    .satisfaction-text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
}
