.project-wrapper {
  height: 100%;
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;

    img {
      object-fit: cover;
      height: 180px;
    }
  }
}
