<div class="map-wrapper" *ngIf="(apiLoaded | async) && options" #mapWrapper>
  <google-map [options]="options"
  width="null" height="null"
  (boundsChanged)="boundsChangedSubject.next()"
  (maptypeidChanged)="updateMapOptions()">
  </google-map>
</div>

<bubaxi-quintozap-listings *ngFor="let item of positions | keyvalue"
[listings]="item.value.listings"
[hideSeen]="hideSeen"
(listingClicked)="onListingClicked($event)"
style="position: absolute;"
[style.top.px]="getRectTop(item.value.position)"
[style.left.px]="getRectLeft(item.value.position)">
</bubaxi-quintozap-listings>
