<div class="app-wrapper">
  <mat-toolbar color="primary">
    <a href="/">Bubaxi</a>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button
    (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container" hasBackdrop="false">
    <mat-drawer class="drawer"
    #drawer mode="over" position="end">
      <bubaxi-auth></bubaxi-auth>
      <mat-card appearance="outlined" class="form-wrapper">
        <form class="filter-form" [formGroup]="filterForm">
          <button mat-raised-button color="primary" class="apply-filter-button" (click)="filter(drawer)">Filter</button>
          <div class="form-lines">
            <div class="form-line">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Min Price</mat-label>
                <input matInput placeholder="0" step="100" formControlName="minPrice" type="number">
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Max Price</mat-label>
                <input matInput placeholder="10000" step="100" formControlName="maxPrice" type="number">
              </mat-form-field>
            </div>
            <div class="form-line">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Min Area</mat-label>
                <input matInput placeholder="20" step="5" formControlName="minArea" type="number">
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Max Area</mat-label>
                <input matInput placeholder="2000" step="5" formControlName="maxArea" type="number">
              </mat-form-field>
            </div>
            <div class="form-line">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Bedrooms</mat-label>
                <input matInput placeholder="3" step="1" formControlName="rooms" type="number">
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card>
    </mat-drawer>
    <mat-drawer-content>
      <bubaxi-quintozap-map
      (boundsChanged)="onBoundsChanged($event)"
      (listingClicked)="onListingClicked($event)"
      [listings]="listings" [hideSeen]="hideSeen"
      ></bubaxi-quintozap-map>
      <div class="side-toolbar">
        <button mat-raised-button
        (click)="filter()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-raised-button
        (click)="autoSearch.setValue(!autoSearch.value)">
          <mat-icon *ngIf="autoSearch.value">find_replace</mat-icon>
          <mat-icon *ngIf="!autoSearch.value">search_off</mat-icon>
        </button>
        <button mat-raised-button
        (click)="onToggleHideSeen()">
          <mat-icon *ngIf="hideSeen">visibility_off_outline</mat-icon>
          <mat-icon *ngIf="!hideSeen">visibility_outline</mat-icon>
        </button>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
